In [33]:
import pandas as pd
import numpy as np
file=pd.read_csv(r'C:\rahul\rahul\NITK\Semester IV\IET_project\samples\samples2.csv')

In [34]:
file.columns

Index(['sample', 'op_cl_op1', 'op_cl_op2', 'op_cl_op3', 'op_cl_op4',
       'op_cl_op5', 'op_cl_op6', 'op_cl_op7', 'op_cl_op8', 'op_cl_op9',
       ...
       'pn_op_pn13', 'pn_op_pn14', 'pn_op_pn15', 'pn_op_pn16', 'pn_op_pn17',
       'pn_op_pn18', 'pn_op_pn19', 'pn_op_pn20', 'pn_op_pn21', 'pn_op_pn22'],
      dtype='object', length=111)

In [35]:
sample_legend={1:'op_cl_op',2:'cl_rd_cl',3:'ex_fl_ex',4:'sp_pr_sp',5:'pn_op_pn'}
filepath=r'C:\rahul\rahul\NITK\Semester IV\IET_project\gesture'

In [38]:
def csv_pd(M):
    p=pd.DataFrame()
    for i in range(5):
        l=1
        filepath=r'C:\rahul\rahul\NITK\Semester IV\IET_project\gesture'
        #filepath=r'C:\rahul\rahul\NITK\Semester IV\IET_project\gesture\p1'
        fold_n='\p'+str(M)
        file_n='\g'+str(i+1)+'t'+str(l)+'.csv'
        col_n=sample_legend[i+1]+str(M)
        path=filepath+fold_n+file_n
            #path=filepath+file_n
            #pd_n='f'+
            #print(repr(path))
        f=pd.read_csv(path,index_col=False)
        p[col_n]=f
    return p        
    #p.head()

In [28]:
p2=csv_pd(2)

In [58]:
p1=csv_pd(1)
p2=csv_pd(2)
p3=csv_pd(3)
p4=csv_pd(4)
p5=csv_pd(5)
p6=csv_pd(6)
p7=csv_pd(7)
p8=csv_pd(8)
p9=csv_pd(9)
p10=csv_pd(10)
p11=csv_pd(11)

In [6]:
p2.head()

   op_cl_op2  cl_rd_cl2  ex_fl_ex2  sp_pr_sp2  pn_op_pn2
0       50.0       19.0       65.0        NaN       25.0
1       23.0       18.0       66.0        8.0       64.0
2       23.0       17.0       95.0       36.0       66.0
3       19.0       18.0       89.0       35.0       64.0
4       18.0       23.0       96.0       43.0       65.0

In [7]:
p2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   op_cl_op2  386 non-null    float64
 1   cl_rd_cl2  386 non-null    float64
 2   ex_fl_ex2  368 non-null    float64
 3   sp_pr_sp2  347 non-null    float64
 4   pn_op_pn2  347 non-null    float64
dtypes: float64(5)
memory usage: 29.9 KB

In [32]:
p2=p2[:400]

In [59]:
#
p2=p2[:400]
p3=p3[:400]
p4=p4[:400]
p5=p5[:400]
p6=p6[:400]
p7=p7[:400]
p8=p8[:400]
p9=p9[:400]
p10=p10[:400]
p11=p11[:400]
p1=p1[:400]

In [9]:
p2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   op_cl_op2  386 non-null    float64
 1   cl_rd_cl2  386 non-null    float64
 2   ex_fl_ex2  368 non-null    float64
 3   sp_pr_sp2  347 non-null    float64
 4   pn_op_pn2  347 non-null    float64
dtypes: float64(5)
memory usage: 15.8 KB

In [31]:
p2=p2.fillna(0)

In [60]:
#
p2=p2.fillna(0)
p3=p3.fillna(0)
p3=p3.fillna(0)
p4=p4.fillna(0)
p5=p5.fillna(0)
p6=p6.fillna(0)
p7=p7.fillna(0)
p8=p8.fillna(0)
p9=p9.fillna(0)
p10=p10.fillna(0)
p11=p11.fillna(0)
p1=p1.fillna(0)

In [61]:
#
np_arr=np.zeros((11,400,5))
np_arr[0]=p1
np_arr[1]=p2
np_arr[2]=p3
np_arr[3]=p4
np_arr[4]=p5
np_arr[5]=p6
np_arr[6]=p7
np_arr[7]=p8
np_arr[8]=p9
np_arr[9]=p10
np_arr[10]=p11

In [11]:
p2.head()

   op_cl_op2  cl_rd_cl2  ex_fl_ex2  sp_pr_sp2  pn_op_pn2
0       50.0       19.0       65.0        0.0       25.0
1       23.0       18.0       66.0        8.0       64.0
2       23.0       17.0       95.0       36.0       66.0
3       19.0       18.0       89.0       35.0       64.0
4       18.0       23.0       96.0       43.0       65.0

In [45]:
p11[20:40]

    op_cl_op11  cl_rd_cl11  ex_fl_ex11  sp_pr_sp11  pn_op_pn11
20       286.0       283.0       373.0         0.0       359.0
21       287.0       286.0       379.0         0.0       351.0
22       286.0       291.0         6.0         0.0       343.0
23       285.0       294.0       395.0         0.0       343.0
24       285.0       294.0       383.0       928.0       349.0
25       285.0       292.0       399.0       373.0       356.0
26       285.0       293.0       395.0       377.0       350.0
27       283.0       300.0       385.0       377.0       349.0
28       283.0       298.0       388.0       375.0       343.0
29       283.0       300.0       395.0       373.0       348.0
30       283.0       293.0       380.0       383.0         9.0
31       283.0       295.0       386.0       387.0       343.0
32       281.0       300.0       393.0       397.0       340.0
33       282.0       294.0       395.0       400.0       337.0
34       281.0       297.0       387.0       408.0       342.0
35       282.0       299.0       374.0       378.0       347.0
36       282.0       306.0       372.0       367.0       348.0
37       282.0       301.0       373.0       328.0       353.0
38       283.0       314.0       370.0       326.0       353.0
39       283.0       322.0       375.0       310.0       358.0

In [46]:
N=400
l=20
p=int(N/l)

In [47]:
from statistics import variance as var
from statistics import mean as mean

def rms(x):
    # x is array of 20 elements
    r,s=0,0
    for i in range(20):
        s+=x[i]**2
    r=np.sqrt(s/2)
    return r

def iemg(x):
    # x is array of 20 elements
    s=0
    for i in range(20):
        s+=x[i]
    #r=np.sqrt(s/2)
    return s

In [14]:
def feature_extract(k):    
    st=0
    k=k-1
    r=np.zeros((11,5,20),dtype=np.float32)
    v=np.zeros((11,5,20),dtype=np.float32)
    m=np.zeros((11,5,20),dtype=np.float32)
    e=np.zeros((11,5,20),dtype=np.float32)
    w=np.zeros((11,5,20))
    print(p)
    for i in range(5):
        st=0
        for j in range(p):
            x=list(p2[sample_legend[i+1]+str(2)][st:st+l])
            #print(x, st)
            r[k][i][j]=rms(x)
            #print(r[k][i][j])
            v[k][i][j]=var(x)
            #print(v[k][i][j])
            m[k][i][j]=mean(x)
            #print(m[k][i][j])
            e[k][i][j]=iemg(x)
            #print(e[k][i][j])
            w[k][i][j]=len(x)
            st=st+l
            if (p-j)==1:
                break
    return r, v, m, e, w

In [62]:
#
r=np.zeros((11,5,20),dtype=np.float32)
v=np.zeros((11,5,20),dtype=np.float32)
m=np.zeros((11,5,20),dtype=np.float32)
e=np.zeros((11,5,20),dtype=np.float32)
w=np.zeros((11,5,20))
def feature_extract(k):    
    st=0
    u=2*k-1
    k=k-1
    print(p)
    q=pd.DataFrame(np_arr[k-1])
    for i in range(5):
        st=0
        for j in range(p):
            x=list(q[sample_legend[i+1]+str(u)][st:st+l])
            #print(x, st)
            r[k][i][j]=rms(x)
            #print(r[k][i][j])
            v[k][i][j]=var(x)
            #print(v[k][i][j])
            m[k][i][j]=mean(x)
            #print(m[k][i][j])
            e[k][i][j]=iemg(x)
            #print(e[k][i][j])
            w[k][i][j]=len(x)
            st=st+l
            if (p-j)==1:
                break
    return r, v, m, e, w

In [15]:
r, v, m, e, w = feature_extract(2)

20
[50.0, 23.0, 23.0, 19.0, 18.0, 18.0, 18.0, 21.0, 20.0, 18.0, 16.0, 18.0, 18.0, 20.0, 22.0, 22.0, 19.0, 17.0, 22.0, 23.0] 0
70.67885
50.513157
21.25
425.0
[25.0, 25.0, 22.0, 20.0, 21.0, 22.0, 22.0, 18.0, 19.0, 18.0, 19.0, 19.0, 22.0, 23.0, 23.0, 19.0, 18.0, 18.0, 18.0, 21.0] 20
65.53625
5.4105263
20.6
412.0
[20.0, 18.0, 16.0, 18.0, 35.0, 33.0, 32.0, 30.0, 33.0, 34.0, 39.0, 35.0, 32.0, 33.0, 36.0, 40.0, 41.0, 41.0, 38.0, 36.0] 40
104.02884
61.263157
32.0
640.0
[34.0, 36.0, 41.0, 38.0, 37.0, 37.0, 36.0, 38.0, 40.0, 41.0, 37.0, 37.0, 35.0, 35.0, 38.0, 41.0, 39.0, 34.0, 35.0, 33.0] 60
117.558495
5.8842106
37.1
742.0
[41.0, 37.0, 38.0, 37.0, 37.0, 36.0, 36.0, 35.0, 34.0, 37.0, 38.0, 35.0, 38.0, 41.0, 44.0, 41.0, 39.0, 36.0, 39.0, 42.0] 80
120.596436
6.892105
38.05
761.0
[41.0, 38.0, 34.0, 34.0, 35.0, 37.0, 38.0, 36.0, 42.0, 37.0, 35.0, 35.0, 37.0, 42.0, 38.0, 34.0, 32.0, 36.0, 40.0, 41.0] 100
117.66053
8.410526
37.1
742.0
[39.0, 39.0, 39.0, 35.0, 37.0, 37.0, 38.0, 34.0, 35.0, 34.0, 36.0, 39.0, 42.0, 38.0, 36.0, 33.0, 37.0, 39.0, 40.0, 36.0] 120
117.6924
5.292105
37.15
743.0
[33.0, 34.0, 36.0, 38.0, 36.0, 39.0, 35.0, 34.0, 36.0, 65.0, 60.0, 66.0, 71.0, 108.0, 134.0, 122.0, 124.0, 99.0, 105.0, 105.0] 140
245.38948
1326.9474
69.0
1380.0
[98.0, 115.0, 102.0, 104.0, 95.0, 103.0, 98.0, 94.0, 111.0, 101.0, 103.0, 94.0, 83.0, 77.0, 93.0, 106.0, 77.0, 100.0, 113.0, 95.0] 160
311.86215
107.56842
98.1
1962.0
[85.0, 95.0, 93.0, 101.0, 94.0, 94.0, 92.0, 100.0, 95.0, 88.0, 80.0, 87.0, 86.0, 87.0, 96.0, 96.0, 79.0, 87.0, 92.0, 86.0] 180
287.26382
36.45
90.65
1813.0
[94.0, 82.0, 93.0, 88.0, 87.0, 91.0, 90.0, 112.0, 108.0, 116.0, 128.0, 129.0, 129.0, 104.0, 114.0, 127.0, 100.0, 118.0, 115.0, 121.0] 200
342.75647
247.27368
107.3
2146.0
[127.0, 113.0, 103.0, 110.0, 111.0, 87.0, 96.0, 95.0, 134.0, 98.0, 100.0, 103.0, 120.0, 111.0, 106.0, 106.0, 105.0, 106.0, 120.0, 103.0] 220
342.32294
125.48421
107.7
2154.0
[95.0, 98.0, 105.0, 103.0, 113.0, 112.0, 73.0, 75.0, 58.0, 53.0, 46.0, 46.0, 45.0, 43.0, 41.0, 41.0, 44.0, 48.0, 43.0, 38.0] 240
225.50388
767.5789
66.0
1320.0
[40.0, 44.0, 45.0, 43.0, 40.0, 43.0, 43.0, 43.0, 44.0, 44.0, 47.0, 42.0, 42.0, 41.0, 40.0, 38.0, 39.0, 35.0, 37.0, 35.0] 260
130.82622
10.513158
41.25
825.0
[42.0, 42.0, 40.0, 36.0, 34.0, 34.0, 33.0, 36.0, 32.0, 38.0, 37.0, 37.0, 38.0, 40.0, 42.0, 41.0, 41.0, 38.0, 42.0, 45.0] 280
121.922104
12.568421
38.4
768.0
[44.0, 42.0, 40.0, 41.0, 42.0, 45.0, 44.0, 47.0, 42.0, 40.0, 40.0, 43.0, 44.0, 41.0, 39.0, 37.0, 42.0, 43.0, 44.0, 43.0] 300
133.47847
5.292105
42.15
843.0
[39.0, 42.0, 44.0, 48.0, 45.0, 41.0, 37.0, 42.0, 40.0, 41.0, 42.0, 41.0, 44.0, 42.0, 42.0, 42.0, 46.0, 44.0, 40.0, 38.0] 320
133.06766
7.0526314
42.0
840.0
[37.0, 43.0, 41.0, 42.0, 42.0, 40.0, 41.0, 40.0, 44.0, 40.0, 44.0, 41.0, 40.0, 40.0, 36.0, 39.0, 40.0, 35.0, 38.0, 38.0] 340
126.86804
5.8394737
40.05
801.0
[41.0, 42.0, 40.0, 34.0, 34.0, 36.0, 39.0, 38.0, 37.0, 40.0, 37.0, 36.0, 39.0, 40.0, 40.0, 40.0, 35.0, 34.0, 37.0, 40.0] 360
120.255974
6.260526
37.95
759.0
[40.0, 37.0, 32.0, 40.0, 39.0, 42.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 380
66.625824
328.05264
11.5
230.0
[19.0, 18.0, 17.0, 18.0, 23.0, 23.0, 24.0, 18.0, 19.0, 20.0, 18.0, 18.0, 21.0, 20.0, 22.0, 18.0, 17.0, 17.0, 20.0, 19.0] 0
61.85871
4.576316
19.45
389.0
[16.0, 14.0, 15.0, 20.0, 22.0, 21.0, 19.0, 16.0, 14.0, 17.0, 18.0, 19.0, 19.0, 18.0, 17.0, 18.0, 23.0, 23.0, 24.0, 29.0] 20
61.489838
13.989473
19.1
382.0
[35.0, 36.0, 35.0, 34.0, 30.0, 31.0, 32.0, 31.0, 33.0, 32.0, 33.0, 32.0, 29.0, 32.0, 30.0, 33.0, 31.0, 27.0, 233.0, 144.0] 40
216.2672
2533.292
47.65
953.0
[56.0, 41.0, 34.0, 33.0, 27.0, 30.0, 30.0, 35.0, 41.0, 49.0, 60.0, 57.0, 56.0, 47.0, 51.0, 56.0, 52.0, 46.0, 53.0, 47.0] 60
146.05992
109.313156
45.05
901.0
[49.0, 56.0, 46.0, 41.0, 39.0, 45.0, 43.0, 47.0, 73.0, 109.0, 124.0, 131.0, 118.0, 122.0, 130.0, 108.0, 162.0, 153.0, 165.0, 154.0] 80
335.14996
2173.1448
95.75
1915.0
[138.0, 132.0, 140.0, 140.0, 129.0, 129.0, 118.0, 124.0, 111.0, 150.0, 121.0, 145.0, 138.0, 152.0, 149.0, 170.0, 204.0, 159.0, 198.0, 206.0] 100
474.61722
763.8184
147.65
2953.0
[189.0, 193.0, 160.0, 159.0, 173.0, 186.0, 196.0, 216.0, 157.0, 175.0, 194.0, 229.0, 197.0, 172.0, 181.0, 144.0, 142.0, 159.0, 150.0, 148.0] 120
561.4882
579.8947
176.0
3520.0
[160.0, 176.0, 153.0, 138.0, 161.0, 170.0, 200.0, 215.0, 218.0, 261.0, 247.0, 254.0, 214.0, 194.0, 114.0, 106.0, 74.0, 86.0, 76.0, 65.0] 140
553.07416
3852.9368
164.1
3282.0
[66.0, 67.0, 61.0, 66.0, 67.0, 63.0, 62.0, 58.0, 63.0, 65.0, 65.0, 63.0, 68.0, 65.0, 53.0, 51.0, 54.0, 58.0, 61.0, 63.0] 160
196.47519
23.628948
61.95
1239.0
[61.0, 62.0, 64.0, 57.0, 57.0, 60.0, 61.0, 56.0, 54.0, 51.0, 51.0, 47.0, 55.0, 60.0, 57.0, 62.0, 58.0, 73.0, 67.0, 56.0] 180
185.71349
34.260525
58.45
1169.0
[64.0, 58.0, 57.0, 56.0, 61.0, 63.0, 63.0, 73.0, 65.0, 65.0, 65.0, 62.0, 60.0, 62.0, 62.0, 62.0, 59.0, 67.0, 65.0, 64.0] 200
198.46284
14.45
62.65
1253.0
[66.0, 64.0, 61.0, 67.0, 67.0, 67.0, 65.0, 66.0, 58.0, 60.0, 64.0, 68.0, 68.0, 65.0, 57.0, 58.0, 58.0, 58.0, 59.0, 58.0] 220
198.67058
16.536842
62.7
1254.0
[59.0, 59.0, 60.0, 59.0, 60.0, 63.0, 62.0, 56.0, 47.0, 48.0, 44.0, 62.0, 109.0, 223.0, 193.0, 219.0, 227.0, 219.0, 233.0, 233.0] 240
443.71893
6376.934
116.75
2335.0
[265.0, 232.0, 210.0, 165.0, 127.0, 115.0, 195.0, 181.0, 148.0, 187.0, 241.0, 198.0, 193.0, 126.0, 139.0, 153.0, 157.0, 152.0, 107.0, 128.0] 260
557.27594
1928.1553
170.95
3419.0
[98.0, 96.0, 99.0, 97.0, 92.0, 79.0, 117.0, 94.0, 92.0, 114.0, 104.0, 83.0, 119.0, 122.0, 125.0, 132.0, 123.0, 156.0, 121.0, 105.0] 280
347.5989
349.41052
108.4
2168.0
[129.0, 122.0, 123.0, 112.0, 111.0, 105.0, 98.0, 107.0, 111.0, 115.0, 120.0, 118.0, 109.0, 103.0, 103.0, 113.0, 96.0, 88.0, 90.0, 81.0] 300
342.75064
156.32631
107.7
2154.0
[98.0, 97.0, 105.0, 126.0, 126.0, 139.0, 159.0, 162.0, 171.0, 174.0, 141.0, 187.0, 160.0, 142.0, 146.0, 146.0, 143.0, 122.0, 109.0, 103.0] 320
443.4084
707.6421
137.8
2756.0
[82.0, 112.0, 153.0, 135.0, 115.0, 120.0, 131.0, 159.0, 122.0, 119.0, 160.0, 141.0, 135.0, 131.0, 118.0, 126.0, 103.0, 100.0, 90.0, 95.0] 340
392.69263
474.97632
122.35
2447.0
[104.0, 91.0, 95.0, 118.0, 110.0, 117.0, 135.0, 170.0, 151.0, 147.0, 122.0, 112.0, 106.0, 130.0, 144.0, 138.0, 189.0, 191.0, 227.0, 243.0] 360
467.70398
1800.7368
142.0
2840.0
[254.0, 258.0, 195.0, 183.0, 203.0, 147.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 380
364.28836
9922.737
62.0
1240.0
[65.0, 66.0, 95.0, 89.0, 96.0, 98.0, 90.0, 92.0, 91.0, 85.0, 94.0, 91.0, 101.0, 95.0, 102.0, 102.0, 97.0, 95.0, 99.0, 89.0] 0
291.31082
100.67368
91.6
1832.0
[86.0, 84.0, 81.0, 92.0, 84.0, 83.0, 82.0, 91.0, 82.0, 89.0, 87.0, 87.0, 87.0, 76.0, 75.0, 71.0, 72.0, 71.0, 82.0, 74.0] 20
259.46677
43.221054
81.8
1636.0
[74.0, 71.0, 63.0, 72.0, 75.0, 82.0, 79.0, 73.0, 81.0, 76.0, 79.0, 77.0, 75.0, 75.0, 69.0, 76.0, 67.0, 73.0, 72.0, 80.0] 40
235.88663
22.576315
74.45
1489.0
[77.0, 84.0, 75.0, 73.0, 70.0, 70.0, 72.0, 70.0, 67.0, 70.0, 68.0, 78.0, 77.0, 80.0, 80.0, 79.0, 81.0, 84.0, 79.0, 73.0] 60
238.82735
27.607895
75.35
1507.0
[69.0, 66.0, 64.0, 62.0, 64.0, 61.0, 65.0, 66.0, 63.0, 61.0, 62.0, 63.0, 64.0, 64.0, 61.0, 58.0, 58.0, 56.0, 57.0, 68.0] 80
198.25237
12.252631
62.6
1252.0
[66.0, 67.0, 57.0, 67.0, 68.0, 61.0, 65.0, 62.0, 67.0, 69.0, 59.0, 59.0, 57.0, 63.0, 65.0, 67.0, 65.0, 73.0, 65.0, 59.0] 100
202.97906
18.576315
64.05
1281.0
[56.0, 46.0, 44.0, 38.0, 84.0, 94.0, 140.0, 149.0, 159.0, 133.0, 152.0, 130.0, 116.0, 118.0, 114.0, 111.0, 118.0, 93.0, 88.0, 82.0] 120
345.71448
1359.25
103.25
2065.0
[72.0, 95.0, 87.0, 77.0, 63.0, 81.0, 70.0, 69.0, 67.0, 66.0, 62.0, 74.0, 83.0, 76.0, 75.0, 82.0, 84.0, 79.0, 72.0, 59.0] 140
237.7383
83.50263
74.65
1493.0
[63.0, 66.0, 66.0, 70.0, 65.0, 70.0, 64.0, 72.0, 67.0, 68.0, 67.0, 58.0, 75.0, 57.0, 58.0, 55.0, 69.0, 52.0, 63.0, 63.0] 160
204.47249
35.305264
64.4
1288.0
[57.0, 53.0, 53.0, 65.0, 60.0, 53.0, 54.0, 49.0, 47.0, 57.0, 53.0, 49.0, 40.0, 53.0, 43.0, 51.0, 46.0, 53.0, 49.0, 53.0] 180
165.04544
31.989473
51.9
1038.0
[48.0, 43.0, 49.0, 45.0, 48.0, 50.0, 50.0, 60.0, 59.0, 51.0, 55.0, 48.0, 56.0, 70.0, 58.0, 64.0, 59.0, 54.0, 56.0, 54.0] 200
171.52113
44.344738
53.85
1077.0
[53.0, 61.0, 72.0, 64.0, 68.0, 59.0, 62.0, 68.0, 52.0, 56.0, 61.0, 52.0, 79.0, 107.0, 117.0, 102.0, 84.0, 71.0, 65.0, 63.0] 220
231.0
340.48422
70.8
1416.0
[62.0, 57.0, 45.0, 40.0, 41.0, 38.0, 46.0, 42.0, 39.0, 38.0, 40.0, 39.0, 34.0, 31.0, 34.0, 32.0, 32.0, 36.0, 32.0, 36.0] 240
127.95702
64.43158
39.7
794.0
[41.0, 41.0, 40.0, 43.0, 43.0, 42.0, 45.0, 43.0, 44.0, 40.0, 42.0, 34.0, 35.0, 39.0, 38.0, 40.0, 39.0, 38.0, 41.0, 37.0] 260
127.59114
8.302631
40.25
805.0
[35.0, 39.0, 41.0, 42.0, 41.0, 46.0, 44.0, 44.0, 46.0, 51.0, 46.0, 41.0, 45.0, 41.0, 42.0, 43.0, 47.0, 50.0, 42.0, 45.0] 280
138.18646
13.628947
43.55
871.0
[56.0, 60.0, 67.0, 57.0, 47.0, 45.0, 51.0, 47.0, 46.0, 49.0, 45.0, 55.0, 56.0, 53.0, 47.0, 45.0, 49.0, 50.0, 48.0, 47.0] 300
162.29294
34.63158
51.0
1020.0
[43.0, 42.0, 43.0, 52.0, 44.0, 53.0, 61.0, 60.0, 51.0, 57.0, 55.0, 54.0, 50.0, 42.0, 48.0, 43.0, 49.0, 50.0, 54.0, 56.0] 320
160.30128
36.344738
50.35
1007.0
[53.0, 53.0, 54.0, 48.0, 50.0, 48.0, 49.0, 52.0, 56.0, 55.0, 50.0, 50.0, 45.0, 58.0, 58.0, 51.0, 56.0, 60.0, 66.0, 55.0] 340
169.37975
23.923685
53.35
1067.0
[55.0, 53.0, 55.0, 53.0, 57.0, 59.0, 55.0, 58.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 360
111.326096
783.4605
22.25
445.0
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 380
0.0
0.0
0.0
0.0
[0.0, 8.0, 36.0, 35.0, 43.0, 40.0, 42.0, 41.0, 47.0, 35.0, 35.0, 33.0, 39.0, 38.0, 30.0, 32.0, 38.0, 40.0, 35.0, 34.0] 0
113.00664
123.83947
34.05
681.0
[33.0, 31.0, 35.0, 29.0, 31.0, 41.0, 33.0, 35.0, 24.0, 24.0, 26.0, 25.0, 34.0, 38.0, 36.0, 35.0, 43.0, 40.0, 42.0, 41.0] 20
108.48963
36.37895
33.8
676.0
[47.0, 35.0, 35.0, 33.0, 51.0, 55.0, 50.0, 49.0, 49.0, 46.0, 45.0, 49.0, 55.0, 56.0, 47.0, 47.0, 43.0, 47.0, 42.0, 41.0] 40
147.13939
41.88421
46.1
922.0
[46.0, 43.0, 41.0, 39.0, 38.0, 40.0, 47.0, 48.0, 43.0, 43.0, 39.0, 39.0, 46.0, 48.0, 44.0, 43.0, 39.0, 39.0, 42.0, 44.0] 60
134.92776
10.576316
42.55
851.0
[42.0, 46.0, 41.0, 42.0, 42.0, 41.0, 45.0, 45.0, 45.0, 47.0, 39.0, 39.0, 43.0, 41.0, 54.0, 43.0, 45.0, 41.0, 42.0, 37.0] 80
136.4368
13.157895
43.0
860.0
[44.0, 43.0, 45.0, 43.0, 37.0, 43.0, 45.0, 46.0, 46.0, 47.0, 46.0, 40.0, 38.0, 42.0, 40.0, 48.0, 41.0, 41.0, 42.0, 44.0] 100
136.44229
8.786842
43.05
861.0
[43.0, 43.0, 49.0, 51.0, 44.0, 48.0, 47.0, 48.0, 50.0, 49.0, 48.0, 45.0, 43.0, 41.0, 42.0, 51.0, 52.0, 59.0, 61.0, 46.0] 120
152.64337
27.368422
48.0
960.0
[61.0, 65.0, 77.0, 112.0, 256.0, 285.0, 281.0, 302.0, 257.0, 210.0, 189.0, 213.0, 240.0, 183.0, 196.0, 158.0, 140.0, 160.0, 147.0, 139.0] 140
622.5685
5335.313
183.55
3671.0
[140.0, 142.0, 129.0, 137.0, 132.0, 128.0, 146.0, 141.0, 150.0, 131.0, 178.0, 221.0, 205.0, 194.0, 209.0, 224.0, 192.0, 170.0, 162.0, 159.0] 160
529.7037
1050.8948
164.5
3290.0
[188.0, 149.0, 149.0, 196.0, 186.0, 152.0, 145.0, 145.0, 157.0, 146.0, 153.0, 139.0, 162.0, 162.0, 140.0, 131.0, 127.0, 119.0, 119.0, 122.0] 180
477.0697
478.02896
149.35
2987.0
[125.0, 123.0, 126.0, 107.0, 109.0, 105.0, 111.0, 113.0, 141.0, 155.0, 164.0, 190.0, 168.0, 170.0, 146.0, 139.0, 162.0, 193.0, 180.0, 166.0] 200
465.93292
827.0816
144.65
2893.0
[170.0, 150.0, 171.0, 170.0, 134.0, 131.0, 116.0, 132.0, 126.0, 124.0, 117.0, 127.0, 119.0, 139.0, 155.0, 165.0, 160.0, 147.0, 126.0, 148.0] 220
450.73773
354.34473
141.35
2827.0
[144.0, 132.0, 121.0, 109.0, 123.0, 114.0, 107.0, 101.0, 122.0, 117.0, 126.0, 134.0, 134.0, 108.0, 94.0, 95.0, 85.0, 62.0, 47.0, 45.0] 240
346.1546
785.5789
106.0
2120.0
[66.0, 63.0, 71.0, 69.0, 60.0, 66.0, 61.0, 58.0, 51.0, 62.0, 62.0, 60.0, 51.0, 45.0, 43.0, 46.0, 43.0, 41.0, 39.0, 47.0] 260
177.35275
103.53684
55.2
1104.0
[39.0, 38.0, 43.0, 44.0, 47.0, 46.0, 37.0, 34.0, 32.0, 36.0, 40.0, 38.0, 37.0, 34.0, 31.0, 31.0, 32.0, 33.0, 37.0, 36.0] 280
118.72026
23.039474
37.25
745.0
[40.0, 38.0, 40.0, 37.0, 43.0, 42.0, 41.0, 36.0, 35.0, 40.0, 31.0, 31.0, 30.0, 41.0, 38.0, 33.0, 28.0, 36.0, 37.0, 35.0] 300
116.48605
18.252632
36.6
732.0
[36.0, 36.0, 38.0, 32.0, 30.0, 28.0, 40.0, 36.0, 38.0, 31.0, 30.0, 31.0, 34.0, 32.0, 36.0, 39.0, 34.0, 26.0, 27.0, 30.0] 320
105.74498
16.8
33.2
664.0
[32.0, 31.0, 31.0, 26.0, 28.0, 27.0, 37.0, 33.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 340
61.615746
241.67105
12.25
245.0
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 360
0.0
0.0
0.0
0.0
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 380
0.0
0.0
0.0
0.0
[25.0, 64.0, 66.0, 64.0, 65.0, 68.0, 70.0, 72.0, 71.0, 70.0, 208.0, 231.0, 165.0, 137.0, 123.0, 116.0, 102.0, 131.0, 110.0, 117.0] 0
365.10614
2701.25
103.75
2075.0
[134.0, 120.0, 116.0, 136.0, 112.0, 115.0, 134.0, 114.0, 117.0, 101.0, 125.0, 158.0, 131.0, 125.0, 140.0, 138.0, 149.0, 140.0, 154.0, 137.0] 20
413.05206
224.37895
129.8
2596.0
[167.0, 151.0, 155.0, 137.0, 146.0, 138.0, 126.0, 168.0, 154.0, 149.0, 136.0, 119.0, 134.0, 137.0, 153.0, 132.0, 148.0, 112.0, 113.0, 126.0] 40
445.6282
257.31317
140.05
2801.0
[139.0, 135.0, 141.0, 133.0, 125.0, 128.0, 130.0, 133.0, 140.0, 147.0, 120.0, 142.0, 144.0, 111.0, 116.0, 137.0, 145.0, 121.0, 103.0, 115.0] 60
413.68405
156.19737
130.25
2605.0
[122.0, 123.0, 142.0, 113.0, 114.0, 112.0, 120.0, 127.0, 126.0, 135.0, 131.0, 135.0, 137.0, 132.0, 123.0, 145.0, 127.0, 113.0, 127.0, 131.0] 80
401.89365
90.82895
126.75
2535.0
[126.0, 125.0, 111.0, 116.0, 120.0, 123.0, 137.0, 105.0, 127.0, 111.0, 105.0, 91.0, 88.0, 129.0, 108.0, 99.0, 124.0, 132.0, 116.0, 99.0] 100
364.8726
189.5158
114.6
2292.0
[121.0, 132.0, 131.0, 138.0, 138.0, 172.0, 202.0, 215.0, 220.0, 128.0, 74.0, 72.0, 72.0, 56.0, 51.0, 44.0, 52.0, 51.0, 47.0, 47.0] 120
388.55566
3580.1343
108.15
2163.0
[47.0, 41.0, 41.0, 37.0, 41.0, 37.0, 44.0, 43.0, 46.0, 38.0, 36.0, 38.0, 39.0, 42.0, 42.0, 40.0, 36.0, 35.0, 30.0, 38.0] 140
125.67617
16.05
39.55
791.0
[46.0, 44.0, 42.0, 40.0, 46.0, 46.0, 48.0, 41.0, 40.0, 47.0, 41.0, 46.0, 38.0, 41.0, 47.0, 45.0, 46.0, 39.0, 35.0, 39.0] 160
135.97978
13.607895
42.85
857.0
[39.0, 38.0, 39.0, 49.0, 39.0, 41.0, 39.0, 42.0, 48.0, 44.0, 49.0, 39.0, 36.0, 39.0, 42.0, 53.0, 51.0, 49.0, 45.0, 45.0] 180
137.80058
25.273684
43.3
866.0
[39.0, 38.0, 45.0, 42.0, 43.0, 41.0, 40.0, 37.0, 43.0, 42.0, 47.0, 45.0, 42.0, 37.0, 44.0, 40.0, 42.0, 43.0, 44.0, 43.0] 200
132.60278
7.292105
41.85
837.0
[43.0, 40.0, 44.0, 52.0, 71.0, 131.0, 179.0, 178.0, 165.0, 171.0, 183.0, 168.0, 183.0, 169.0, 172.0, 133.0, 151.0, 161.0, 147.0, 153.0] 220
455.66324
2756.642
134.7
2694.0
[127.0, 111.0, 107.0, 116.0, 104.0, 118.0, 116.0, 121.0, 114.0, 117.0, 114.0, 101.0, 106.0, 100.0, 108.0, 109.0, 94.0, 117.0, 121.0, 107.0] 240
353.17844
66.88421
111.4
2228.0
[95.0, 106.0, 101.0, 103.0, 103.0, 106.0, 105.0, 93.0, 109.0, 102.0, 86.0, 91.0, 97.0, 93.0, 85.0, 87.0, 75.0, 73.0, 82.0, 76.0] 260
297.37015
125.621056
93.4
1868.0
[80.0, 77.0, 75.0, 88.0, 104.0, 90.0, 86.0, 77.0, 79.0, 87.0, 96.0, 84.0, 80.0, 84.0, 83.0, 87.0, 79.0, 81.0, 72.0, 83.0] 280
265.33942
54.252632
83.6
1672.0
[79.0, 87.0, 87.0, 79.0, 85.0, 90.0, 94.0, 84.0, 81.0, 78.0, 84.0, 87.0, 78.0, 73.0, 79.0, 85.0, 85.0, 84.0, 85.0, 95.0] 300
266.0047
29.734211
83.95
1679.0
[84.0, 96.0, 99.0, 116.0, 106.0, 106.0, 91.0, 87.0, 95.0, 80.0, 79.0, 74.0, 85.0, 85.0, 86.0, 71.0, 81.0, 79.0, 77.0, 78.0] 320
279.90622
141.77632
87.75
1755.0
[80.0, 81.0, 70.0, 72.0, 85.0, 78.0, 93.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 340
150.005
1546.2605
27.95
559.0
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 360
0.0
0.0
0.0
0.0
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] 380
0.0
0.0
0.0
0.0

In [63]:
#
f0=pd.DataFrame()
for x in range(11):
    r[x], v[x], m[x], e[x], w[x] = feature_extract(x+1)
    g=pd.DataFrame()
    for i in range(5):
        g[i+1]=pd.concat([pd.Series(r[x][i]), pd.Series(v[x][i]), pd.Series(m[x][i]), pd.Series(e[x][i])], ignore_index=True)
    f=reshape(g)
    f0=pd.concat(f0,f, ignore_index=True)

20

KeyError: 'op_cl_op1'

In [16]:
r[1][0]

array([ 70.67885 ,  65.53625 , 104.02884 , 117.558495, 120.596436,
       117.66053 , 117.6924  , 245.38948 , 311.86215 , 287.26382 ,
       342.75647 , 342.32294 , 225.50388 , 130.82622 , 121.922104,
       133.47847 , 133.06766 , 126.86804 , 120.255974,  66.625824],
      dtype=float32)

In [17]:
r[1], v[1], m[1], e[1]

(array([[ 70.67885 ,  65.53625 , 104.02884 , 117.558495, 120.596436,
         117.66053 , 117.6924  , 245.38948 , 311.86215 , 287.26382 ,
         342.75647 , 342.32294 , 225.50388 , 130.82622 , 121.922104,
         133.47847 , 133.06766 , 126.86804 , 120.255974,  66.625824],
        [ 61.85871 ,  61.489838, 216.2672  , 146.05992 , 335.14996 ,
         474.61722 , 561.4882  , 553.07416 , 196.47519 , 185.71349 ,
         198.46284 , 198.67058 , 443.71893 , 557.27594 , 347.5989  ,
         342.75064 , 443.4084  , 392.69263 , 467.70398 , 364.28836 ],
        [291.31082 , 259.46677 , 235.88663 , 238.82735 , 198.25237 ,
         202.97906 , 345.71448 , 237.7383  , 204.47249 , 165.04544 ,
         171.52113 , 231.      , 127.95702 , 127.59114 , 138.18646 ,
         162.29294 , 160.30128 , 169.37975 , 111.326096,   0.      ],
        [113.00664 , 108.48963 , 147.13939 , 134.92776 , 136.4368  ,
         136.44229 , 152.64337 , 622.5685  , 529.7037  , 477.0697  ,
         465.93292 , 450.73773 , 346.1546  , 177.35275 , 118.72026 ,
         116.48605 , 105.74498 ,  61.615746,   0.      ,   0.      ],
        [365.10614 , 413.05206 , 445.6282  , 413.68405 , 401.89365 ,
         364.8726  , 388.55566 , 125.67617 , 135.97978 , 137.80058 ,
         132.60278 , 455.66324 , 353.17844 , 297.37015 , 265.33942 ,
         266.0047  , 279.90622 , 150.005   ,   0.      ,   0.      ]],
       dtype=float32),
 array([[5.05131569e+01, 5.41052628e+00, 6.12631569e+01, 5.88421059e+00,
         6.89210510e+00, 8.41052628e+00, 5.29210520e+00, 1.32694739e+03,
         1.07568420e+02, 3.64500008e+01, 2.47273682e+02, 1.25484207e+02,
         7.67578918e+02, 1.05131578e+01, 1.25684214e+01, 5.29210520e+00,
         7.05263138e+00, 5.83947372e+00, 6.26052618e+00, 3.28052643e+02],
        [4.57631588e+00, 1.39894733e+01, 2.53329199e+03, 1.09313156e+02,
         2.17314478e+03, 7.63818420e+02, 5.79894714e+02, 3.85293677e+03,
         2.36289482e+01, 3.42605247e+01, 1.44499998e+01, 1.65368423e+01,
         6.37693408e+03, 1.92815527e+03, 3.49410522e+02, 1.56326309e+02,
         7.07642090e+02, 4.74976318e+02, 1.80073682e+03, 9.92273730e+03],
        [1.00673683e+02, 4.32210541e+01, 2.25763149e+01, 2.76078949e+01,
         1.22526312e+01, 1.85763149e+01, 1.35925000e+03, 8.35026321e+01,
         3.53052635e+01, 3.19894733e+01, 4.43447380e+01, 3.40484222e+02,
         6.44315796e+01, 8.30263138e+00, 1.36289473e+01, 3.46315804e+01,
         3.63447380e+01, 2.39236851e+01, 7.83460510e+02, 0.00000000e+00],
        [1.23839470e+02, 3.63789482e+01, 4.18842087e+01, 1.05763159e+01,
         1.31578951e+01, 8.78684235e+00, 2.73684216e+01, 5.33531299e+03,
         1.05089478e+03, 4.78028961e+02, 8.27081604e+02, 3.54344727e+02,
         7.85578918e+02, 1.03536842e+02, 2.30394745e+01, 1.82526321e+01,
         1.67999992e+01, 2.41671051e+02, 0.00000000e+00, 0.00000000e+00],
        [2.70125000e+03, 2.24378952e+02, 2.57313171e+02, 1.56197372e+02,
         9.08289490e+01, 1.89515793e+02, 3.58013428e+03, 1.60499992e+01,
         1.36078949e+01, 2.52736835e+01, 7.29210520e+00, 2.75664209e+03,
         6.68842087e+01, 1.25621056e+02, 5.42526321e+01, 2.97342110e+01,
         1.41776321e+02, 1.54626050e+03, 0.00000000e+00, 0.00000000e+00]],
       dtype=float32),
 array([[ 21.25,  20.6 ,  32.  ,  37.1 ,  38.05,  37.1 ,  37.15,  69.  ,
          98.1 ,  90.65, 107.3 , 107.7 ,  66.  ,  41.25,  38.4 ,  42.15,
          42.  ,  40.05,  37.95,  11.5 ],
        [ 19.45,  19.1 ,  47.65,  45.05,  95.75, 147.65, 176.  , 164.1 ,
          61.95,  58.45,  62.65,  62.7 , 116.75, 170.95, 108.4 , 107.7 ,
         137.8 , 122.35, 142.  ,  62.  ],
        [ 91.6 ,  81.8 ,  74.45,  75.35,  62.6 ,  64.05, 103.25,  74.65,
          64.4 ,  51.9 ,  53.85,  70.8 ,  39.7 ,  40.25,  43.55,  51.  ,
          50.35,  53.35,  22.25,   0.  ],
        [ 34.05,  33.8 ,  46.1 ,  42.55,  43.  ,  43.05,  48.  , 183.55,
         164.5 , 149.35, 144.65, 141.35, 106.  ,  55.2 ,  37.25,  36.6 ,
          33.2 ,  12.25,   0.  ,   0.  ],
        [103.75, 129.8 , 140.05, 130.25, 126.75, 114.6 , 108.15,  39.55,
          42.85,  43.3 ,  41.85, 134.7 , 111.4 ,  93.4 ,  83.6 ,  83.95,
          87.75,  27.95,   0.  ,   0.  ]], dtype=float32),
 array([[ 425.,  412.,  640.,  742.,  761.,  742.,  743., 1380., 1962.,
         1813., 2146., 2154., 1320.,  825.,  768.,  843.,  840.,  801.,
          759.,  230.],
        [ 389.,  382.,  953.,  901., 1915., 2953., 3520., 3282., 1239.,
         1169., 1253., 1254., 2335., 3419., 2168., 2154., 2756., 2447.,
         2840., 1240.],
        [1832., 1636., 1489., 1507., 1252., 1281., 2065., 1493., 1288.,
         1038., 1077., 1416.,  794.,  805.,  871., 1020., 1007., 1067.,
          445.,    0.],
        [ 681.,  676.,  922.,  851.,  860.,  861.,  960., 3671., 3290.,
         2987., 2893., 2827., 2120., 1104.,  745.,  732.,  664.,  245.,
            0.,    0.],
        [2075., 2596., 2801., 2605., 2535., 2292., 2163.,  791.,  857.,
          866.,  837., 2694., 2228., 1868., 1672., 1679., 1755.,  559.,
            0.,    0.]], dtype=float32))

In [18]:
g=pd.DataFrame()
for i in range(5):
    g[i+1]=pd.concat([pd.Series(r[1][i]), pd.Series(v[1][i]), pd.Series(m[1][i]), pd.Series(e[1][i])], ignore_index=True)

In [19]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       80 non-null     float32
 1   2       80 non-null     float32
 2   3       80 non-null     float32
 3   4       80 non-null     float32
 4   5       80 non-null     float32
dtypes: float32(5)
memory usage: 1.7 KB

In [20]:
g[0:20]

             1           2           3           4           5
0    70.678848   61.858711  291.310822  113.006638  365.106140
1    65.536247   61.489838  259.466766  108.489632  413.052063
2   104.028839  216.267197  235.886627  147.139389  445.628204
3   117.558495  146.059921  238.827347  134.927765  413.684052
4   120.596436  335.149963  198.252365  136.436798  401.893646
5   117.660530  474.617218  202.979065  136.442291  364.872589
6   117.692398  561.488220  345.714478  152.643372  388.555664
7   245.389481  553.074158  237.738297  622.568481  125.676170
8   311.862152  196.475189  204.472488  529.703674  135.979782
9   287.263824  185.713486  165.045441  477.069702  137.800583
10  342.756470  198.462845  171.521133  465.932922  132.602783
11  342.322937  198.670578  231.000000  450.737732  455.663239
12  225.503876  443.718933  127.957024  346.154602  353.178436
13  130.826218  557.275940  127.591141  177.352753  297.370148
14  121.922104  347.598907  138.186462  118.720261  265.339417
15  133.478470  342.750641  162.292938  116.486053  266.004700
16  133.067657  443.408386  160.301285  105.744980  279.906219
17  126.868042  392.692627  169.379745   61.615746  150.005005
18  120.255974  467.703979  111.326096    0.000000    0.000000
19   66.625824  364.288361    0.000000    0.000000    0.000000

In [21]:
rm=np.array(g[0:20].transpose())
rm.shape
a=np.reshape(rm,100)

In [22]:
vr=np.array(g[20:40].transpose())
vr.shape
b=np.reshape(vr,100)

mn=np.array(g[40:60].transpose())
mn.shape
c=np.reshape(mn,100)

ie=np.array(g[60:80].transpose())
ie.shape
d=np.reshape(ie,100)

In [ ]:
#
def reshape(g):
    rm=np.array(g[0:20].transpose())
    #rm.shape
    a=np.reshape(rm,100)
    vr=np.array(g[20:40].transpose())
    #vr.shape
    b=np.reshape(vr,100)

    mn=np.array(g[40:60].transpose())
    #mn.shape
    c=np.reshape(mn,100)

    ie=np.array(g[60:80].transpose())
    #ie.shape
    d=np.reshape(ie,100)
    features=pd.DataFrame([a,b,c,d])
    f2=features.transpose()
    return f2

In [23]:
features=pd.DataFrame([a,b,c,d])
features.shape

(4, 100)

In [24]:
f2=features.transpose()
f2.head()

            0          1          2      3
0   70.678848  50.513157  21.250000  425.0
1   65.536247   5.410526  20.600000  412.0
2  104.028839  61.263157  32.000000  640.0
3  117.558495   5.884211  37.099998  742.0
4  120.596436   6.892105  38.049999  761.0