In [1]:
import pandas as pd
import numpy as np
file=pd.read_csv(r'C:\rahul\rahul\NITK\Semester IV\IET_project\samples\samples2.csv')

In [2]:
file.columns

Index(['sample', 'op_cl_op1', 'op_cl_op2', 'op_cl_op3', 'op_cl_op4',
       'op_cl_op5', 'op_cl_op6', 'op_cl_op7', 'op_cl_op8', 'op_cl_op9',
       ...
       'pn_op_pn13', 'pn_op_pn14', 'pn_op_pn15', 'pn_op_pn16', 'pn_op_pn17',
       'pn_op_pn18', 'pn_op_pn19', 'pn_op_pn20', 'pn_op_pn21', 'pn_op_pn22'],
      dtype='object', length=111)

In [3]:
sample_legend={1:'op_cl_op',2:'cl_rd_cl',3:'ex_fl_ex',4:'sp_pr_sp',5:'pn_op_pn'}
filepath=r'C:\rahul\rahul\NITK\Semester IV\IET_project\gesture'

In [4]:
def csv_pd(M):
    p=pd.DataFrame()
    for i in range(5):
        l=1
        filepath=r'C:\rahul\rahul\NITK\Semester IV\IET_project\gesture'
        #filepath=r'C:\rahul\rahul\NITK\Semester IV\IET_project\gesture\p1'
        fold_n='\p'+str(M)
        file_n='\g'+str(i+1)+'t'+str(l)+'.csv'
        col_n=sample_legend[i+1]+str(M)
        path=filepath+fold_n+file_n
            #path=filepath+file_n
            #pd_n='f'+
            #print(repr(path))
        f=pd.read_csv(path,index_col=False)
        p[col_n]=f
    return p        
    #p.head()

In [5]:
p1=csv_pd(1)
p2=csv_pd(2)
p3=csv_pd(3)
p4=csv_pd(4)
p5=csv_pd(5)
p6=csv_pd(6)
p7=csv_pd(7)
p8=csv_pd(8)
p9=csv_pd(9)
p10=csv_pd(10)
p11=csv_pd(11)

In [6]:
p2=p2[:400]
p3=p3[:400]
p4=p4[:400]
p5=p5[:400]
p6=p6[:400]
p7=p7[:400]
p8=p8[:400]
p9=p9[:400]
p10=p10[:400]
p11=p11[:400]
p1=p1[:400]

In [7]:
p2=p2.fillna(0)
p3=p3.fillna(0)
p3=p3.fillna(0)
p4=p4.fillna(0)
p5=p5.fillna(0)
p6=p6.fillna(0)
p7=p7.fillna(0)
p8=p8.fillna(0)
p9=p9.fillna(0)
p10=p10.fillna(0)
p11=p11.fillna(0)
p1=p1.fillna(0)

In [8]:
np_arr=np.zeros((11,400,5))
np_arr[0]=p1
np_arr[1]=p2
np_arr[2]=p3
np_arr[3]=p4
np_arr[4]=p5
np_arr[5]=p6
np_arr[6]=p7
np_arr[7]=p8
np_arr[8]=p9
np_arr[9]=p10
np_arr[10]=p11

In [9]:
N=400
l=20
p=int(N/l)

In [10]:
from statistics import variance as var
from statistics import mean as mean

def rms(x):
    # x is array of 20 elements
    r,s=0,0
    for i in range(20):
        s+=x[i]**2
    r=np.sqrt(s/2)
    return r

def iemg(x):
    # x is array of 20 elements
    s=0
    for i in range(20):
        s+=x[i]
    #r=np.sqrt(s/2)
    return s

In [11]:
q=pd.DataFrame(np_arr[0])
q.head()

       0     1      2      3      4
0    2.0  13.0    1.0  128.0    1.0
1  199.0  25.0   47.0   36.0  140.0
2  203.0  31.0   51.0   34.0  127.0
3  210.0  28.0    5.0   32.0  119.0
4  201.0  28.0  104.0   29.0  143.0

In [12]:
#
rt=np.zeros((11,5,20),dtype=np.float32)
vt=np.zeros((11,5,20),dtype=np.float32)
mt=np.zeros((11,5,20),dtype=np.float32)
et=np.zeros((11,5,20),dtype=np.float32)
wt=np.zeros((11,5,20))
def feature_extract(k):
    r=np.zeros((5,20),dtype=np.float32)
    v=np.zeros((5,20),dtype=np.float32)
    m=np.zeros((5,20),dtype=np.float32)
    e=np.zeros((5,20),dtype=np.float32)
    w=np.zeros((5,20))
    st=0
    u=2*k-1
    k=k-1
    print(p)
    q=pd.DataFrame(np_arr[k])
    for i in range(5):
        st=0
        print(i)
        for j in range(p):
            print(j)
            x=list(q[i][st:st+l])
            #print(x, st)
            r[i][j]=rms(x)
            #print(r[k][i][j])
            v[i][j]=var(x)
            #print(v[k][i][j])
            m[i][j]=mean(x)
            #print(m[k][i][j])
            e[i][j]=iemg(x)
            #print(e[k][i][j])
            w[i][j]=len(x)
            st=st+l
            if (p-j)==1:
                break
    return r, v, m, e, w

In [15]:
#
f0=pd.DataFrame()
for x in range(11):
    A=feature_extract(x+1)
    rt[x], vt[x], mt[x], et[x], wt[x] = A[0],A[1],A[2],A[3],A[4]
    g=pd.DataFrame()
    for i in range(5):
        g[i+1]=pd.concat([pd.Series(rt[x][i]), pd.Series(vt[x][i]), pd.Series(mt[x][i]), pd.Series(et[x][i])], ignore_index=True)
    f=reshape(g)
    f0=pd.concat([f0,f], axis=1, ignore_index=True)

20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
2
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
3
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
4
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
#
def reshape(g):
    rm=np.array(g[0:20].transpose())
    #rm.shape
    a=np.reshape(rm,100)
    vr=np.array(g[20:40].transpose())
    #vr.shape
    b=np.reshape(vr,100)

    mn=np.array(g[40:60].transpose())
    #mn.shape
    c=np.reshape(mn,100)

    ie=np.array(g[60:80].transpose())
    #ie.shape
    d=np.reshape(ie,100)
    features=pd.DataFrame([a,b,c,d])
    f2=features.transpose()
    return f2

In [16]:
f0.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,644.291443,2198.997314,198.550003,3971.0,89.813698,55.944736,27.450001,549.0,89.232841,67.944740,...,265.950012,5319.0,756.083008,2758.470947,233.550003,4671.0,508.043793,4252.471191,147.550003,2951.0
1,646.527283,2251.607910,199.149994,3983.0,87.120605,20.168421,27.200001,544.0,67.357254,8.936842,...,303.700012,6074.0,687.772461,2438.621094,212.100006,4242.0,551.497986,1451.410522,170.399994,3408.0
2,637.601379,2169.418457,196.449997,3929.0,88.901634,15.502631,27.850000,557.0,59.858166,9.063158,...,302.299988,6046.0,695.473938,13.042106,219.899994,4398.0,570.692566,26.147367,180.399994,3608.0
3,541.544556,9360.366211,142.949997,2859.0,81.255768,7.839474,25.549999,511.0,61.167801,7.818421,...,305.700012,6114.0,696.069702,7.673684,220.100006,4402.0,582.861877,6.642105,184.300003,3686.0
4,65.757126,4.115789,20.700001,414.0,138.188278,205.936844,41.400002,828.0,54.129475,4.210526,...,303.149994,6063.0,706.497681,6.673684,223.399994,4468.0,590.055481,16.471052,186.550003,3731.0

In [17]:
f0.describe()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,255.370193,627.576233,78.201019,1564.020020,424.915649,1075.358398,130.915497,2618.310059,171.612671,316.242157,...,273.369019,5467.379883,1109.502930,2616.847412,345.893982,6917.879883,599.284729,527.683533,187.028473,3740.570068
std,190.692688,1469.854736,58.687706,1173.754272,215.594070,2177.209717,67.393570,1347.871460,113.925774,823.024536,...,105.499146,2109.982666,430.806732,7653.065430,139.786560,2795.731689,207.623001,1342.362305,68.908485,1378.169678
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,81.950930,8.442106,25.662500,513.250000,287.702835,35.576317,89.475000,1789.500000,81.573544,11.130921,...,285.212494,5704.250000,995.575531,22.165790,311.762497,6235.250000,562.172028,14.223026,177.587505,3551.750000
50%,183.402267,82.846054,54.900000,1098.000000,391.483948,196.210526,114.674999,2293.500000,145.140862,45.409210,...,305.700012,6114.000000,1186.096313,70.598682,367.425003,7348.500000,602.678741,53.868422,189.775002,3795.500000
75%,436.932579,484.445396,127.537500,2550.750000,564.747253,759.004608,176.337502,3526.750000,269.369560,295.281586,...,322.212494,6444.250000,1391.003815,236.468426,437.949989,8759.000000,719.765823,218.981579,226.887501,4537.750000
max,667.473572,9360.366211,206.899994,4138.000000,1131.398438,9983.568359,353.149994,7063.000000,434.691284,7072.134277,...,506.649994,10133.000000,1829.404663,44583.906250,578.450012,11569.000000,1051.915649,7910.871094,321.149994,6423.000000

In [18]:
f0[:][0:4]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,644.291443,2198.997314,198.550003,3971.0,89.813698,55.944736,27.450001,549.0,89.232841,67.944740,...,265.950012,5319.0,756.083008,2758.470947,233.550003,4671.0,508.043793,4252.471191,147.550003,2951.0
1,646.527283,2251.607910,199.149994,3983.0,87.120605,20.168421,27.200001,544.0,67.357254,8.936842,...,303.700012,6074.0,687.772461,2438.621094,212.100006,4242.0,551.497986,1451.410522,170.399994,3408.0
2,637.601379,2169.418457,196.449997,3929.0,88.901634,15.502631,27.850000,557.0,59.858166,9.063158,...,302.299988,6046.0,695.473938,13.042106,219.899994,4398.0,570.692566,26.147367,180.399994,3608.0
3,541.544556,9360.366211,142.949997,2859.0,81.255768,7.839474,25.549999,511.0,61.167801,7.818421,...,305.700012,6114.0,696.069702,7.673684,220.100006,4402.0,582.861877,6.642105,184.300003,3686.0

In [34]:
F0=f0.transpose()
F1=F0[0:4]
F2=F0[4:8]
F3=F0[8:12]
F4=F0[12:16]
F5=F0[16:20]
F6=F0[20:24]
F7=F0[24:28]
F8=F0[28:32]
F9=F0[32:36]
F10=F0[36:40]
F11=F0[40:44]

F1=F1.transpose()
F2=F2.transpose()
F3=F3.transpose()
F4=F4.transpose()
F5=F5.transpose()
F6=F6.transpose()
F7=F7.transpose()
F8=F8.transpose()
F9=F9.transpose()
F10=F10.transpose()
F11=F11.transpose()

In [24]:
F11.head(10)

           40           41          42      43
0  508.043793  4252.471191  147.550003  2951.0
1  551.497986  1451.410522  170.399994  3408.0
2  570.692566    26.147367  180.399994  3608.0
3  582.861877     6.642105  184.300003  3686.0
4  590.055481    16.471052  186.550003  3731.0
5  580.860168    13.186842  183.649994  3673.0
6  582.884216     9.378947  184.300003  3686.0
7  586.517273     8.997369  185.449997  3709.0
8  634.838196   338.892120  199.949997  3999.0
9  628.091125   112.765793  198.350006  3967.0

In [35]:
f0.shape

(100, 44)

In [38]:
F2.columns=[0,1,2,3]
F3.columns=[0,1,2,3]
F4.columns=[0,1,2,3]
F5.columns=[0,1,2,3]
F6.columns=[0,1,2,3]
F7.columns=[0,1,2,3]
F8.columns=[0,1,2,3]
F9.columns=[0,1,2,3]
F10.columns=[0,1,2,3]
F11.columns=[0,1,2,3]

In [39]:
F
F=pd.concat([F1,F2,F3,F4,F5,F6,F7,F8],axis=0,ignore_index=True)
F.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       800 non-null    float32
 1   1       800 non-null    float32
 2   2       800 non-null    float32
 3   3       800 non-null    float32
dtypes: float32(4)
memory usage: 12.6 KB

In [40]:
F.head()

            0            1           2       3
0  644.291443  2198.997314  198.550003  3971.0
1  646.527283  2251.607910  199.149994  3983.0
2  637.601379  2169.418457  196.449997  3929.0
3  541.544556  9360.366211  142.949997  2859.0
4   65.757126     4.115789   20.700001   414.0

In [41]:
na=filepath+'/F.csv'
F.to_csv(na,index=False)

In [42]:
Ftest=pd.concat([F9,F10,F11],axis=0,ignore_index=True)
Ftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       300 non-null    float32
 1   1       300 non-null    float32
 2   2       300 non-null    float32
 3   3       300 non-null    float32
dtypes: float32(4)
memory usage: 4.8 KB

In [43]:
na=filepath+'/Ftest.csv'
Ftest.to_csv(na,index=False)

In [25]:
F1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    float32
 1   1       100 non-null    float32
 2   2       100 non-null    float32
 3   3       100 non-null    float32
dtypes: float32(4)
memory usage: 1.7 KB